.triangle-animation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background: linear-gradient(to left bottom, transparent 49%, #f4469d 50%);
  animation: slideTriangle 1s ease-in-out forwards;
}

@keyframes slideTriangle {
  0% {
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.section-content {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}